.position-relative {
  position: relative;
}

.icon {
  width: 50% !important;
  height: 50% !important;
  float: right;
}

.content {
  top: 0;
  right: 100px;
  width: 200px;
  position: absolute;
  background: #FFF3CD;
  border-radius: 5px;
  padding: 20px;
  z-index: 5;
}

.content:after {
  content: '';
  position: absolute;
  right: 0;
  top: 75px;
  width: 0;
  height: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #FFF3CD;
  margin-top: -10px;
  margin-right: -20px;
}

.btns {
  /*align-content: space-between;*/
  /*display: flex;*/
  /*flex-flow: row wrap;*/
  /*width: 100%;*/
  font-size: 11px;
}

/*.btn {*/
  /*margin-top: 10px;*/
  /*height: 30px;*/
  /*align-content: center;*/
  /*text-align: center;*/
  /*padding: 5px;*/
  /*width: calc(50% - 18px);*/
  /*min-height: 30px;*/
  /*font-size: 12px;*/
  /*color: white;*/
  /*border-radius: 5px;*/
/*}*/

/*.btn-secondary {*/
  /*margin-right: 8px;*/
  /*background: #6C757D;*/
/*}*/

/*.btn-primary {*/
  /*margin-left: 8px;*/
  /*background: #007BFF;*/
/*}*/